<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>css animate</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/animations.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container">
            <div class="header">
                <h3 class="text-muted">♥ css animations</h3>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">Animation classes taken from : <a target="_blank" href="http://www.justinaguilar.com/animations/">justinaguilar.com/animations/</a></div>
            </div>

            <div class="row" id="demo"></div>

            <div class="footer">♥ css animations</div>
        </div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            $(document).ready(function() {

                var classNames = [
                    'slideDown',
                    'slideUp',
                    'slideLeft',
                    'slideRight',
                    'slideExpandUp',
                    'expandUp',
                    'fadeIn',
                    'expandOpen',
                    'bigEntrance',
                    'hatch',
                    'bounce',
                    'pulse',
                    'floating',
                    'tossing',
                    'pullUp',
                    'pullDown',
                    'stretchLeft',
                    'stretchRight'
                ];

                var invisibleClassNames = [
                    'slideDown',
                    'slideUp',
                    'slideLeft',
                    'slideRight',
                    'slideExpandUp',
                    'expandUp',
                    'fadeIn',
                    'expandOpen',
                    'bigEntrance',
                    'hatch',
                ];                

                for (className in classNames) {
                    var data = {
                        animationName : classNames[className],
                        invisible     : false
                    };

                    if (invisibleClassNames[className]) {
                        data.invisible = true;
                    }

                    var template = _.template('<div class="col-md-4" data-animation-invisible="<%= invisible %>" data-animation="<%= animationName %>">' +
                                                '<div class="well"><%= animationName %></div>' +
                                              '</div>', data);

                    $('#demo').append(template);
                }

                $('[data-animation]').each(function() {
                    var timeout, self, animate;

                    self = $(this);
                    animate = function() {
                        
                        self.hover(function() {
                            self.removeClass(self.attr('data-animation'));
                            timeout = window.setTimeout(animate, 0);
                        }, function() {
                            window.clearTimeout(timeout);
                        });
                            
                        if (!self.hasClass(self.attr('data-animation'))) {
                            self.addClass(self.attr('data-animation'));                            
                            window.setTimeout(animate, 5000);
                        }
                    };
                    animate();
                });
            });
        </script>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
        <!-- endbuild -->
</body>
</html>
